<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>CFBundleDevelopmentRegion</key>
        <string>en</string>
        
        <key>CFBundleExecutable</key>
        <string>Krumeluren</string>
        
        <key>CFBundleIconFile</key>
        <string>Krumeluren.icns</string>
        
        <key>CFBundleIdentifier</key>
        <string>com.unswornindustries.Krumeluren</string>
        
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        
        <key>CFBundleName</key>
        <string>Krumeluren</string>
        
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        
        <key>CFBundleShortVersionString</key>
        <string>1.0</string>
        
        <key>CFBundleSignature</key>
        <string>????</string>
        
        <key>CFBundleVersion</key>
        <string>1</string>
        
        <key>LSMinimumSystemVersion</key>
        <string>10.9</string>
        
        <key>NSHumanReadableCopyright</key>
        <string>Copyright © 2016 Unsworn Industries AB. All rights reserved.</string>
        
        <key>NSPrincipalClass</key>
        <string>NSApplication</string>

        <key>Calibration</key>
        <dict>
          <key>Preview</key>
          <dict>
            <key>key-red</key>
            <string>0.21</string>
            <key>key-green</key>
            <string>0.57</string>
            <key>key-blue</key>
            <string>0.27</string>
            <key>key-distance</key>
            <string>0.3</string>
            <key>key-slope</key>
            <string>0.02</string>
          </dict>
          <key>Process</key>
          <dict>
            <key>key-red</key>
            <string>0.21</string>
            <key>key-green</key>
            <string>0.57</string>
            <key>key-blue</key>
            <string>0.27</string>
            <key>key-distance</key>
            <string>0.3</string>
            <key>key-slope</key>
            <string>0.02</string>
            <key>canny-threshold</key>
            <string>100</string>
            <key>poly-tolerance</key>
            <string>0.01</string>
          </dict>
        </dict>
        
        <key>InitialWidth</key>
        <string>1280</string>
        
        <key>InitialHeight</key>
        <string>800</string>

        <key>WindowTitle</key>
        <string>Krumeluren-Huren</string>
        
        <key>FaceAnimation</key>
        <string>animation_idle_webgl.html</string>

        <key>IntroAnimation</key>
        <string>intro</string>

        <key>USBCameraDeviceName</key>
        <string>Trust Webcam</string>

        <key>PTPCameraDeviceName</key>
        <string>D3200</string>

        <key>RuntimeSettings</key>
        <dict>
          <key>module</key>
          <string>main</string>
        </dict>

</dict>
</plist>
